body {
    margin: 0;
    font-family: "Geometria", sans-serif;
    background-color: #ebf4fc;
  }
  
  .test-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .test-container {
    background-color: white;
    border-radius: 16px;
    width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #497ae2;
    color: #3257a4;
  }
  
  .header-box {
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 16px;
    text-align: left;
    font-family: "Geometria Medium", sans-serif;
    border-bottom: 1px solid #497ae2;
  }
  
  .header-box h1 {
    margin-left: 14px;
  }
  
  .content-box {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bar progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f0f0f0;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background: linear-gradient(90deg, #3257a4, #497ae2);
    border-radius: 10px;
  }
  
  .content-box h2 {
    text-align: center;
    font-family: "Geometria Medium", sans-serif;
    font-size: 18px;
    margin-bottom: 24px;
    color: #3257a4;
  }
  
  .answer-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .answer-list li {
    margin-bottom: 16px;
  }
  
  .answer-list .custom-button {
    width: 100%;
    padding: 12px;
    font-family: "Geometria Medium", sans-serif;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #3257a4, #497ae2, #3257a4);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .answer-list .custom-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .back-button {
    position: absolute;
    top: 20px; 
    left: 20px; 
    z-index: 100; 
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #3257a4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
  }
  
  .back-button:hover {
    background-color: #497ae2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-box h1 {
    font-size: 18px;
    color: #3257a4;
    margin: 0;
  }

  .content h2 {
    color: #3257a4;
    align-items: center;
  }